:root {
  --bg-color: aliceblue;
  --bg-lighter-color: azure;
  --fg-color: #333333;
  --fg-lighter-color: #444444;
  --info-color: #aaaaaa;
  --hidden-color: #bbbbbb;
  --input-bg-color: #fcfcfc;
  --btn-bg-color: #eeeeee;
  --btn-hover-bg-color: #dddddd;
  --btn-fg-color: var(--fg-color);
}

.reverse-color {
  background: var(--fg-color);
  color: var(--bg-color);
}

.reverse-color a {
  text-decoration: none;
  color: var(--bg-color);
}

html,body {
  margin: 0;
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: 'Arial';
  height: 100%;
}

main {
  flex: 1;
  width: 100%;
}

.center {
  margin: 2em auto;
}

.center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.narrow {
  width: 40%;
}

.wide {
  width: 60%;
}

#root-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  min-width: 120px;
  height: 32px;
  line-height: 32px;
  background: white;
  color: #333;
  border: none;
  box-shadow: 0 1px 3px #aaa;
}

button.primary {
  background: steelblue;
  color: white;
}

button:hover {
  cursor: pointer;
}

input[type=text], input[type=password] {
  border: none;
  min-width: 16em;
  height: 32px;
  box-shadow: inset 0 0 2px #aaa;
  padding: 0 .2em;
}

/* ------------------------------------------ header & footer */

header {
  display: flex;
  align-items: center;
}

header > *:last-child {
  margin-left: auto;
  margin-right: 2em;
  text-align: center;
}

header .username {
  text-align: right;
}

footer {
  text-align: center;
  line-height: 3;
}

nav {
  line-height: 3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 2em;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
}

/* ------------------------------------------ login */

#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin: .6em 0;
}

/* ------------------------------------------ blogs */

.blogs {
  width: 40%;
  margin: 3em auto;
}

.blog {
  line-height: 2;
}

.blog > .hr {
  width: 90%;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin: 2em auto;
}

.blog:last-child > .hr {
  border-bottom: none;
}

.datetime {
  text-align: right;
  font-size: .7em;
}

.datetime * {
  color: var(--info-color);
}

.panel {
  position: fixed;
  right: 5%;
  bottom: 10%;
}

.edit-blog textarea {
  width: 100%;
  min-height: 40em;
  line-height: 1.5;
}

/* ------------------------------------------ */

a {
  color: var(--fg-color);
  text-decoration: none;
}

.content a[!icon] {
  border-bottom: 1px solid var(--info-color);
  padding-bottom: 2px;
}

.content a:hover {
  color: var(--fg-color);
}

.about p {
}

.about .age {
  display: table;
  margin: 0 auto;
}

.about .age div {
  display: table-row;
}

.about .age span {
  display: table-cell;
}

.about .age span.unit {
  font-size: 0.6em;
  filter: opacity(50%);
}

.about .num {
  display: inline-block;
  min-width: 2em;
}

.about .links {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.about .links > *:first-child {
  margin-right: 1em;
}

.about .links > * {
  line-height: 20px;
}

.sticky {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.sticky > * {
  filter: opacity(20%);
}

.sticky > *:hover {
  filter: opacity(100%);
}

.tooltip-container {
  position: relative;
  display: flex;
  align-items: flex-center;
}

.tooltip-container .tooltip {
  position: absolute;
  visibility: hidden;
  min-width: 8em;
  text-align: center;
  right: 30px;
  order: -1;
  opacity: 0;
  border-radius: 2px;
}

/* arrow */
.tooltip-container .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--fg-color);
  z-order: 1
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s;
}

/* ------------------------------------------ gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.gallery img {
  display: block;
  max-width: 300px;
  width: auto;
  height: auto;
  margin: 1em;
  box-shadow: 0px 0px 10px #aaa;
  transition: 1s;
}

.gallery img:hover {
  box-shadow: 0px 0px 30px #aaa;
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.8s;
}

/* ------------------------------------------ files */

#files-page {
  margin-top: 1em;
}

.file-explorer {
  width: 50%;
  height: 30em;
  margin: 2em auto;
  padding: 1em 2em;
  font-family: 'Consolas';
  font-size: .9em;
  line-height: 1.5;
  box-shadow: inset 0 0 5px #aaa;
  overflow-y: scroll;
}

.file-list li * {
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  padding: .2em 1em;
}

.file-list li:hover {
  cursor: pointer;
  box-shadow: 0 0 1px #aaa;
}

.file-list li.dir * {
  font-weight: bold;
}
