:root {
  --bg-color: #DCE0E4;
  --fg-color: #333333;
  --fg-lighter-color: #444444;
  --info-color: #aaaaaa;
  --btn-bg-color: #eeeeee;
  --btn-hover-bg-color: #dddddd;
  --btn-fg-color: var(--fg-color);
}

.reverse-color {
  background: var(--fg-color);
  color: var(--bg-color);
}

.reverse-color a {
  text-decoration: none;
  color: var(--bg-color);
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--fg-color);
}

header {
  display: flex;
  align-items: center;
}

header > *:last-child {
  margin-left: auto;
  margin-right: 2em;
  text-align: center;
}

header .username {
  text-align: right;
}

footer {
  text-align: center;
  line-height: 3;
}

nav {
  line-height: 3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 2em;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
}

.login {
  margin-right: 2em;
}

main {
  width: 40%;
  margin: 2em auto;
  line-height: 2;
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

main a {
  color: var(--fg-color);
  text-decoration: none;
  border-bottom: 1px solid var(--info-color);
  padding-bottom: 2px;
}

main a:hover {
  color: var(--fg-color);
}

.datetime {
  text-align: right;
  font-size: 8px;
  color: var(--info-color);
}

.about p {
  margin: .4em;
}

.about .age {
  display: table;
  margin: 0 auto;
}

.about .age div {
  display: table-row;
}

.about .age span {
  display: table-cell;
}

.about .age span.unit {
  font-size: 0.6em;
  filter: opacity(50%);
}

.about .num {
  display: inline-block;
  min-width: 2em;
}

.about .links {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.about .links > *:first-child {
  margin-right: 1em;
}

.about .links > * {
  line-height: 20px;
}

form > * {
  display: block;
  margin-top: 1em;
}

form input {
  padding: .3em;
}

form button {
  width: 80px;
  height: 32px;
}

form label {
  width: 8em;
  text-align: right;
  padding-right: 1em;
}
