:root {
  --bg-color: #DCE0E4;
  --bg-lighter-color: #DDE2E8;
  --fg-color: #333333;
  --fg-lighter-color: #444444;
  --info-color: #aaaaaa;
  --hidden-color: #bbbbbb;
  --input-bg-color: #fcfcfc;
  --btn-bg-color: #eeeeee;
  --btn-hover-bg-color: #dddddd;
  --btn-fg-color: var(--fg-color);
}

.reverse-color {
  background: var(--fg-color);
  color: var(--bg-color);
}

.reverse-color a {
  text-decoration: none;
  color: var(--bg-color);
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--fg-color);
}

header {
  display: flex;
  align-items: center;
}

header > *:last-child {
  margin-left: auto;
  margin-right: 2em;
  text-align: center;
}

header .username {
  text-align: right;
}

footer {
  text-align: center;
  line-height: 3;
}

nav {
  line-height: 3;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 2em;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
}

.login {
  margin-right: 2em;
}

main {
  flex: 1;
}

.center {
  margin: 0 auto;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.narrow {
  width: 40%;
}

.wide {
  width: 60%;
}

a {
  color: var(--fg-color);
  text-decoration: none;
}

.content a[!icon] {
  border-bottom: 1px solid var(--info-color);
  padding-bottom: 2px;
}

.content a:hover {
  color: var(--fg-color);
}

.about p {
  margin: .4em;
}

.about .age {
  display: table;
  margin: 0 auto;
}

.about .age div {
  display: table-row;
}

.about .age span {
  display: table-cell;
}

.about .age span.unit {
  font-size: 0.6em;
  filter: opacity(50%);
}

.about .num {
  display: inline-block;
  min-width: 2em;
}

.about .links {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.about .links > *:first-child {
  margin-right: 1em;
}

.about .links > * {
  line-height: 20px;
}

form > * {
  display: block;
  margin-top: 1em;
}

input, .editor {
  padding: .3em;
  background: var(--input-bg-color);
  border: none;
  box-shadow: inset 0 0 3px #999;
}

button {
  width: 80px;
  height: 32px;
}

form label {
  width: 8em;
  text-align: right;
  padding-right: 1em;
}

.sticky {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.sticky > * {
  filter: opacity(20%);
}

.sticky > *:hover {
  filter: opacity(100%);
}

.tooltip-container {
  position: relative;
  display: flex;
  align-items: flex-center;
}

.tooltip-container .tooltip {
  position: absolute;
  visibility: hidden;
  min-width: 8em;
  text-align: center;
  right: 30px;
  order: -1;
  opacity: 0;
  border-radius: 2px;
}

/* arrow */
.tooltip-container .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--fg-color);
  z-order: 1
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s;
}

.blogs {
  margin-top: 2em;
  margin-bottom: 2em;
}

article {
  box-shadow: 0 1px 5px #ccc;
  padding: 30px;
  margin: 20px auto 0px auto;
  //background: var(--bg-lighter-color);
}

article h1 {
  margin: 0;
}

.datetime {
  text-align: right;
  font-size: .4em;
  color: var(--hidden-color);
}
