.card {
  text-align: center;
  padding: 5em;
}

.card h1 {
  text-align: center;
}

.card a {
  text-decoration: none;
  color: #555;
  padding: 0.5em 1em;
  margin: 0;
}

.card a.submit {
  background: #333;
  color: #999;
}
